.secound{
  background-color: chocolate;
  border-radius: 30%;

}
#contact{
  text-align: center;
  margin-left: 200px;
  border: 1px solid black;
  padding: 50px;
  border-radius: 10%;
  background-image: linear-gradient(red, yellow);
  margin-bottom: 300px;


}
.container{
  background-image: linear-gradient(rgb(0, 255, 166), rgb(72, 255, 0));
  color:black
}
#grid{
  margin-left:500px;
  padding: 50px;
  background-image: linear-gradient(rgb(0, 174, 255), yellow);
  color:black

}